.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border: 1px solid transparent;
  padding: .8rem 2rem;
  font-size: 14px;
  outline: none;
  color: white;
  border-radius: 999px;
}

.btn:hover, .btn:active {
  filter: brightness(120%);
}