@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


:root {
  --dark-blue: hsl(233, 26%, 24%);
  --gray-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
  font-family: 'Public Sans', sans-serif;
}

h1,
h2, 
h3 {
  font-weight: 400;
  color: var(--dark-blue);
}

p {
  color: var(--gray-blue);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--lime-green), var(--bright-cyan));
  border-radius: 5px;
}

.flex__center {
  display: flex;
  align-items: center;
}

.section__padding {
  padding: 0 7rem;
}


.stack-x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}


@media screen and (max-width: 1100px) {
  .section__padding {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 800px) {
  .section__padding {
    padding: 0 3.5rem;
  }
}


@media screen and (max-width: 600px) {
  .section__padding {
    padding: 0 2rem;
  }
}

